flows.json
[
    {
        "id": "f074a6e9a2370e56",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e1c81a798aa15732",
        "type": "mqtt in",
        "z": "f074a6e9a2370e56",
        "name": "Temperatura",
        "topic": "casa/temperatura",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "a7603f8e8449f783",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 100,
        "wires": [
            [
                "0b0ba478bac76afc",
                "6db50ad59e19bb8d",
                "81c1146986926172"
            ]
        ]
    },
    {
        "id": "37541df21a380052",
        "type": "mqtt in",
        "z": "f074a6e9a2370e56",
        "name": "Humidade",
        "topic": "casa/humidade",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "a7603f8e8449f783",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 220,
        "wires": [
            [
                "bd81c3bc1ab9bea8",
                "6b33249370908bd3"
            ]
        ]
    },
    {
        "id": "6db50ad59e19bb8d",
        "type": "ui_gauge",
        "z": "f074a6e9a2370e56",
        "name": "",
        "group": "3f09d5abb3673bfb",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatura",
        "label": "*C",
        "format": "{{value}}",
        "min": 0,
        "max": "30",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 530,
        "y": 200,
        "wires": []
    },
    {
        "id": "0b0ba478bac76afc",
        "type": "debug",
        "z": "f074a6e9a2370e56",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 120,
        "wires": []
    },
    {
        "id": "bd81c3bc1ab9bea8",
        "type": "debug",
        "z": "f074a6e9a2370e56",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 280,
        "wires": []
    },
    {
        "id": "6b33249370908bd3",
        "type": "ui_chart",
        "z": "f074a6e9a2370e56",
        "name": "Humidade",
        "group": "3f09d5abb3673bfb",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Humidade",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "3",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 550,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "81c1146986926172",
        "type": "ui_chart",
        "z": "f074a6e9a2370e56",
        "name": "Temperature graphics",
        "group": "3f09d5abb3673bfb",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Temperature Grafico",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "50",
        "removeOlder": "3",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 720,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "8afb5a216a5dd85d",
        "type": "http request",
        "z": "f074a6e9a2370e56",
        "name": "OpenWeatherMap API",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://api.openweathermap.org/data/2.5/weather?q=Maputo&appid=592e7c0c8d0dc6bd26a6d77ea013086a&units=metric&lang=pt",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 260,
        "y": 460,
        "wires": [
            [
                "4133f44256142176"
            ]
        ]
    },
    {
        "id": "4133f44256142176",
        "type": "function",
        "z": "f074a6e9a2370e56",
        "name": "Processar Clima OWM COM PRECIPITAÇÃO",
        "func": "// Processar Dados OpenWeatherMap - Precipitação Apenas Textual\nif (!msg.payload || !msg.payload.main || !msg.payload.wind) {\n    node.error(\"Dados inválidos da API: \" + JSON.stringify(msg.payload));\n    return [null, null, null];\n}\n\n// Debug: Log do que a API retornou (remova após testar)\nnode.warn(\"Resposta OWM: \" + JSON.stringify({ main: msg.payload.main, wind: msg.payload.wind, rain: msg.payload.rain, weather: msg.payload.weather }));\n\n// Output 1: Pressão (para gauge de pressão)\nvar msg1 = {\n    payload: msg.payload.main.pressure,\n    topic: \"pressao\"\n};\n\n// Output 2: Vento Velocidade (para gauge de vento)  \nvar msg2 = {\n    payload: msg.payload.wind.speed,\n    topic: \"vento_velocidade\"\n};\n\n// Output 3: Descrição (para texto UI) - Com precipitação sempre visível\nvar precipitacao = 0;\nif (msg.payload.rain && msg.payload.rain[\"1h\"]) {\n    precipitacao = msg.payload.rain[\"1h\"];\n} else if (msg.payload.rain && msg.payload.rain[\"3h\"]) {\n    // Fallback para 3h se disponível\n    precipitacao = msg.payload.rain[\"3h\"] / 3;\n}\n\nvar descricao = msg.payload.weather ? msg.payload.weather[0].description || \"N/A\" : \"N/A\";\nvar textoPrecipitacao;\nvar iconeChuva = precipitacao > 0 ? \"🌧️\" : \"🌤️\";\nif (precipitacao > 0) {\n    textoPrecipitacao = ` | ${iconeChuva} Chuva: ${precipitacao.toFixed(1)} mm`;\n} else {\n    textoPrecipitacao = ` | ${iconeChuva} Sem chuva: 0 mm`;\n}\n\nvar msg3 = {\n    payload: `Pressão: ${msg.payload.main.pressure} hPa | Vento: ${msg.payload.wind.speed} m/s${textoPrecipitacao} | ${descricao.toUpperCase()}`,\n    topic: \"descricao_clima\"\n};\n\nnode.warn(\"Precipitação processada: \" + precipitacao + \" mm\");  // Debug\n\nreturn [msg1, msg2, msg3];",
        "outputs": 3,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 400,
        "wires": [
            [
                "3c7eddfb0377af25"
            ],
            [
                "b4a54a877a3f64b8"
            ],
            [
                "39f7f5c85f8fa931"
            ]
        ]
    },
    {
        "id": "3c7eddfb0377af25",
        "type": "ui_gauge",
        "z": "f074a6e9a2370e56",
        "name": "Pressão Externa",
        "group": "grupo-clima-externo",
        "order": 1,
        "width": 3,
        "height": 2,
        "gtype": "gage",
        "title": "📊 Pressão Atmosférica",
        "label": "hPa",
        "format": "{{value}}",
        "min": 900,
        "max": 1100,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#2ca02c"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 870,
        "y": 360,
        "wires": []
    },
    {
        "id": "b4a54a877a3f64b8",
        "type": "ui_gauge",
        "z": "f074a6e9a2370e56",
        "name": "Velocidade do Vento",
        "group": "grupo-clima-externo",
        "order": 2,
        "width": 3,
        "height": 2,
        "gtype": "gage",
        "title": "💨 Velocidade do Vento",
        "label": "m/s",
        "format": "{{value}}",
        "min": 0,
        "max": 20,
        "colors": [
            "#d62728",
            "#ff9896",
            "#9467bd"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 880,
        "y": 400,
        "wires": []
    },
    {
        "id": "39f7f5c85f8fa931",
        "type": "ui_text",
        "z": "f074a6e9a2370e56",
        "group": "grupo-clima-externo",
        "order": 3,
        "width": 6,
        "height": 1,
        "name": "Condições Atuais",
        "label": "🌤️ Condições em Maputo",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 870,
        "y": 440,
        "wires": []
    },
    {
        "id": "39d8dbd25a671b6c",
        "type": "inject",
        "z": "f074a6e9a2370e56",
        "name": "Atualizar Clima",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "600",
        "crontab": "",
        "once": true,
        "onceDelay": 3,
        "topic": "update",
        "payload": "true",
        "payloadType": "bool",
        "x": 80,
        "y": 400,
        "wires": [
            [
                "8afb5a216a5dd85d"
            ]
        ]
    },
    {
        "id": "a7603f8e8449f783",
        "type": "mqtt-broker",
        "name": "TH",
        "broker": "broker.emqx.io",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "3f09d5abb3673bfb",
        "type": "ui_group",
        "name": "Temperatura e Humidade",
        "tab": "d8fef3a0d83053ee",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "grupo-clima-externo",
        "type": "ui_group",
        "name": "Dados Meteorológicos Externos",
        "tab": "d8fef3a0d83053ee",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "d8fef3a0d83053ee",
        "type": "ui_tab",
        "name": "DHT11",
        "icon": "fa-sun",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "7767ee1a89983a7b",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-dashboard": "3.6.6"
        }
    }
]
