flows.json
[
    {
        "id": "c935ee3111fcba88",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "cf114acc7b647f4c",
        "type": "mqtt in",
        "z": "c935ee3111fcba88",
        "name": "Temperatura",
        "topic": "casa/temperatura",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "a7603f8e8449f783",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 70,
        "y": 40,
        "wires": [
            [
                "64d71048ad21a4fa",
                "88044aa1df601166",
                "f5094b65779bcfbe"
            ]
        ]
    },
    {
        "id": "9adfee9d39809b18",
        "type": "mqtt in",
        "z": "c935ee3111fcba88",
        "name": "Humidade",
        "topic": "casa/humidade",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "a7603f8e8449f783",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 500,
        "y": 40,
        "wires": [
            [
                "a39de41b20987637",
                "6de078c1f224c123",
                "d8abb9c5ea7d5509"
            ]
        ]
    },
    {
        "id": "88044aa1df601166",
        "type": "ui_gauge",
        "z": "c935ee3111fcba88",
        "name": "",
        "group": "3f09d5abb3673bfb",
        "order": 0,
        "width": "3",
        "height": "2",
        "gtype": "gage",
        "title": "Temperatura",
        "label": "*C",
        "format": "{{value}}",
        "min": 0,
        "max": "30",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 290,
        "y": 100,
        "wires": []
    },
    {
        "id": "64d71048ad21a4fa",
        "type": "debug",
        "z": "c935ee3111fcba88",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 280,
        "y": 20,
        "wires": []
    },
    {
        "id": "a39de41b20987637",
        "type": "debug",
        "z": "c935ee3111fcba88",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 20,
        "wires": []
    },
    {
        "id": "6de078c1f224c123",
        "type": "ui_chart",
        "z": "c935ee3111fcba88",
        "name": "Humidade",
        "group": "3f09d5abb3673bfb",
        "order": 1,
        "width": "0",
        "height": "0",
        "label": "Humidade",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "3",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 690,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "f5094b65779bcfbe",
        "type": "ui_chart",
        "z": "c935ee3111fcba88",
        "name": "Temperature graphics",
        "group": "3f09d5abb3673bfb",
        "order": 2,
        "width": "0",
        "height": "0",
        "label": "Temperature Grafico",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "50",
        "removeOlder": "3",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 320,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "b6e3d138859d58ec",
        "type": "http request",
        "z": "c935ee3111fcba88",
        "name": "OpenWeatherMap API",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://api.openweathermap.org/data/2.5/weather?q=Maputo&appid=592e7c0c8d0dc6bd26a6d77ea013086a&units=metric&lang=pt",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 300,
        "y": 160,
        "wires": [
            [
                "3deeebd32e48d9ff"
            ]
        ]
    },
    {
        "id": "3deeebd32e48d9ff",
        "type": "function",
        "z": "c935ee3111fcba88",
        "name": "Processar Clima OWM COM PRECIPITAÇÃO",
        "func": "// Processar Dados OpenWeatherMap - Precipitação Apenas Textual\nif (!msg.payload || !msg.payload.main || !msg.payload.wind) {\n    node.error(\"Dados inválidos da API: \" + JSON.stringify(msg.payload));\n    return [null, null, null];\n}\n\n// Debug: Log do que a API retornou (remova após testar)\nnode.warn(\"Resposta OWM: \" + JSON.stringify({ main: msg.payload.main, wind: msg.payload.wind, rain: msg.payload.rain, weather: msg.payload.weather }));\n\n// Output 1: Pressão (para gauge de pressão)\nvar msg1 = {\n    payload: msg.payload.main.pressure,\n    topic: \"pressao\"\n};\n\n// Output 2: Vento Velocidade (para gauge de vento)  \nvar msg2 = {\n    payload: msg.payload.wind.speed,\n    topic: \"vento_velocidade\"\n};\n\n// Output 3: Descrição (para texto UI) - Com precipitação sempre visível\nvar precipitacao = 0;\nif (msg.payload.rain && msg.payload.rain[\"1h\"]) {\n    precipitacao = msg.payload.rain[\"1h\"];\n} else if (msg.payload.rain && msg.payload.rain[\"3h\"]) {\n    // Fallback para 3h se disponível\n    precipitacao = msg.payload.rain[\"3h\"] / 3;\n}\n\nvar descricao = msg.payload.weather ? msg.payload.weather[0].description || \"N/A\" : \"N/A\";\nvar textoPrecipitacao;\nvar iconeChuva = precipitacao > 0 ? \"🌧️\" : \"🌤️\";\nif (precipitacao > 0) {\n    textoPrecipitacao = ` | ${iconeChuva} Chuva: ${precipitacao.toFixed(1)} mm`;\n} else {\n    textoPrecipitacao = ` | ${iconeChuva} Sem chuva: 0 mm`;\n}\n\nvar msg3 = {\n    payload: `Pressão: ${msg.payload.main.pressure} hPa | Vento: ${msg.payload.wind.speed} m/s${textoPrecipitacao} | ${descricao.toUpperCase()}`,\n    topic: \"descricao_clima\"\n};\n\nnode.warn(\"Precipitação processada: \" + precipitacao + \" mm\");  // Debug\n\nreturn [msg1, msg2, msg3];",
        "outputs": 3,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 160,
        "wires": [
            [
                "3d54c9dce8106606"
            ],
            [
                "040bbd29f735dbcb"
            ],
            [
                "4d1d62c9375049f8"
            ]
        ]
    },
    {
        "id": "3d54c9dce8106606",
        "type": "ui_gauge",
        "z": "c935ee3111fcba88",
        "name": "Pressão Externa",
        "group": "grupo-clima-externo",
        "order": 1,
        "width": 3,
        "height": 2,
        "gtype": "gage",
        "title": "📊 Pressão Atmosférica",
        "label": "hPa",
        "format": "{{value}}",
        "min": 900,
        "max": 1100,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#2ca02c"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 910,
        "y": 120,
        "wires": []
    },
    {
        "id": "040bbd29f735dbcb",
        "type": "ui_gauge",
        "z": "c935ee3111fcba88",
        "name": "Velocidade do Vento",
        "group": "grupo-clima-externo",
        "order": 2,
        "width": 3,
        "height": 2,
        "gtype": "gage",
        "title": "💨 Velocidade do Vento",
        "label": "m/s",
        "format": "{{value}}",
        "min": 0,
        "max": 20,
        "colors": [
            "#d62728",
            "#ff9896",
            "#9467bd"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 920,
        "y": 160,
        "wires": []
    },
    {
        "id": "4d1d62c9375049f8",
        "type": "ui_text",
        "z": "c935ee3111fcba88",
        "group": "grupo-clima-externo",
        "order": 3,
        "width": 6,
        "height": 1,
        "name": "Condições Atuais",
        "label": "🌤️ Condições em Maputo",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 910,
        "y": 200,
        "wires": []
    },
    {
        "id": "37aed8a6f1e3315f",
        "type": "inject",
        "z": "c935ee3111fcba88",
        "name": "Atualizar Clima",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "600",
        "crontab": "",
        "once": true,
        "onceDelay": 3,
        "topic": "update",
        "payload": "true",
        "payloadType": "bool",
        "x": 80,
        "y": 160,
        "wires": [
            [
                "b6e3d138859d58ec"
            ]
        ]
    },
    {
        "id": "d8abb9c5ea7d5509",
        "type": "ui_gauge",
        "z": "c935ee3111fcba88",
        "name": "Humidade",
        "group": "3f09d5abb3673bfb",
        "order": 3,
        "width": "3",
        "height": "2",
        "gtype": "gage",
        "title": "Humidade",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#008fb3",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 610,
        "y": 120,
        "wires": []
    },
    {
        "id": "441bb44a0eba67c8",
        "type": "mqtt in",
        "z": "c935ee3111fcba88",
        "name": "Temperatura",
        "topic": "casa/temperatura",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "a7603f8e8449f783",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 70,
        "y": 620,
        "wires": [
            [
                "d080229a21ef8a66"
            ]
        ]
    },
    {
        "id": "5f685e80cd960c6a",
        "type": "mqtt in",
        "z": "c935ee3111fcba88",
        "name": "Humidade",
        "topic": "casa/humidade",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "a7603f8e8449f783",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 60,
        "y": 560,
        "wires": [
            [
                "d080229a21ef8a66"
            ]
        ]
    },
    {
        "id": "d080229a21ef8a66",
        "type": "function",
        "z": "c935ee3111fcba88",
        "name": "Preparar Inserção",
        "func": "var topic = msg.topic;\nvar value = parseFloat(msg.payload);\n\nif (topic === \"casa/temperatura\") {\n    context.global.set(\"temperatura\", value);\n} else if (topic === \"casa/humidade\") {\n    context.global.set(\"humidade\", value);\n} else {\n    node.warn(\"Tópico desconhecido: \" + topic);\n    return null;\n}\n\nvar temp = context.global.get(\"temperatura\");\nvar hum = context.global.get(\"humidade\");\n\nif (temp !== undefined && hum !== undefined) {\n    var newMsg = {};\n    newMsg.method = \"POST\";\n    newMsg.url = \"https://juxgwiqblikaxgyjeqiv.supabase.co/rest/v1/dht11_data\";\n    newMsg.headers = {};\n    newMsg.headers[\"Content-Type\"] = \"application/json\";\n    newMsg.headers[\"apikey\"] = \"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imp1eGd3aXFibGlrYXhneWplcWl2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjA2MDQ5NDQsImV4cCI6MjA3NjE4MDk0NH0.Nw9SVhqHNwSLjNeVlC3hNZj2uULR2oq88esrGXvMQec\";\n    newMsg.headers[\"Authorization\"] = \"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imp1eGd3aXFibGlrYXhneWplcWl2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjA2MDQ5NDQsImV4cCI6MjA3NjE4MDk0NH0.Nw9SVhqHNwSLjNeVlC3hNZj2uULR2oq88esrGXvMQec\";\n    newMsg.headers[\"Prefer\"] = \"return=minimal\";\n    newMsg.payload = {\n        \"temperatura\": temp,\n        \"humidade\": hum\n    };\n    \n    context.global.set(\"temperatura\", undefined);\n    context.global.set(\"humidade\", undefined);\n    \n    return [newMsg];\n} else {\n    node.warn(\"Aguardando dados: temp=\" + temp + \", hum=\" + hum);\n    return null;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 580,
        "wires": [
            [
                "6cc15501d19e1dee"
            ]
        ]
    },
    {
        "id": "6cc15501d19e1dee",
        "type": "http request",
        "z": "c935ee3111fcba88",
        "name": "Inserir no Supabase",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 490,
        "y": 580,
        "wires": [
            [
                "71c176ef05f9b8a6"
            ]
        ]
    },
    {
        "id": "71c176ef05f9b8a6",
        "type": "debug",
        "z": "c935ee3111fcba88",
        "name": "Resultado",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 580,
        "wires": []
    },
    {
        "id": "8a95501ce3c9d21a",
        "type": "function",
        "z": "c935ee3111fcba88",
        "name": "Preparar Inserção PZEM",
        "func": "var topic = msg.topic;\nvar value = msg.payload;\n\n// Salva no contexto baseado no tópico (converte para float se for número)\nif (topic === \"casa/voltagem\") {\n    context.global.set(\"voltage\", parseFloat(value));\n} else if (topic === \"casa/corrente\") {\n    context.global.set(\"current\", parseFloat(value));\n} else if (topic === \"casa/frequencia\") {\n    context.global.set(\"frequencia\", parseFloat(value));\n} else if (topic === \"casa/potencia\") {\n    context.global.set(\"power\", parseFloat(value));\n} else if (topic === \"casa/energia\") {\n    context.global.set(\"energy\", parseFloat(value));\n} else if (topic === \"casa/fator_potencia\") {\n    context.global.set(\"fator_potencia\", parseFloat(value));\n} else {\n    node.warn(\"Tópico desconhecido: \" + topic);\n    return null;\n}\n\n// Verifica se TODOS os campos estão disponíveis\nvar voltage = context.global.get(\"voltage\");\nvar current = context.global.get(\"current\");\nvar frequencia = context.global.get(\"frequencia\");\nvar power = context.global.get(\"power\");\nvar energy = context.global.get(\"energy\");\nvar fator_potencia = context.global.get(\"fator_potencia\");\n\nif (voltage !== undefined && current !== undefined && frequencia !== undefined && power !== undefined && energy !== undefined && fator_potencia !== undefined) {\n    // Todos disponíveis: monta payload e envia\n    var newMsg = {};\n    newMsg.method = \"POST\";\n    newMsg.url = \"https://juxgwiqblikaxgyjeqiv.supabase.co/rest/v1/energy_readings\";\n    newMsg.headers = {};\n    newMsg.headers[\"Content-Type\"] = \"application/json\";\n    newMsg.headers[\"apikey\"] = \"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imp1eGd3aXFibGlrYXhneWplcWl2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjA2MDQ5NDQsImV4cCI6MjA3NjE4MDk0NH0.Nw9SVhqHNwSLjNeVlC3hNZj2uULR2oq88esrGXvMQec\";\n    newMsg.headers[\"Authorization\"] = \"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imp1eGd3aXFibGlrYXhneWplcWl2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjA2MDQ5NDQsImV4cCI6MjA3NjE4MDk0NH0.Nw9SVhqHNwSLjNeVlC3hNZj2uULR2oq88esrGXvMQec\";\n    newMsg.headers[\"Prefer\"] = \"return=minimal\";\n    newMsg.payload = {\n        \"voltage\": voltage,\n        \"current\": current,\n        \"frequencia\": frequencia,\n        \"power\": power,\n        \"energy\": energy,\n        \"fator_potencia\": fator_potencia,\n        \"device_id\": \"pz001\"  // Hardcoded; ajuste se vier de tópico\n    };\n    \n    // Limpa contexto para próxima leitura\n    context.global.set(\"voltage\", undefined);\n    context.global.set(\"current\", undefined);\n    context.global.set(\"frequencia\", undefined);\n    context.global.set(\"power\", undefined);\n    context.global.set(\"energy\", undefined);\n    context.global.set(\"fator_potencia\", undefined);\n    \n    return [newMsg];\n} else {\n    // Ainda aguardando algum campo\n    node.warn(\"Aguardando dados: voltage=\" + voltage + \", current=\" + current + \", frequencia=\" + frequencia + \", power=\" + power + \", energy=\" + energy + \", fator_potencia=\" + fator_potencia);\n    return null;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 301,
        "y": 693,
        "wires": [
            [
                "aefabd1461ffbb01"
            ]
        ]
    },
    {
        "id": "aefabd1461ffbb01",
        "type": "http request",
        "z": "c935ee3111fcba88",
        "name": "Inserir no Supabase",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 520,
        "y": 680,
        "wires": [
            [
                "738e7c94719fb113"
            ]
        ]
    },
    {
        "id": "738e7c94719fb113",
        "type": "debug",
        "z": "c935ee3111fcba88",
        "name": "Resultado",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 680,
        "wires": []
    },
    {
        "id": "490514c29dda30d2",
        "type": "mqtt in",
        "z": "c935ee3111fcba88",
        "name": "Tensão",
        "topic": "casa/voltagem",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "a7603f8e8449f783",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 50,
        "y": 680,
        "wires": [
            [
                "8a95501ce3c9d21a"
            ]
        ]
    },
    {
        "id": "5066389fa3b5ea17",
        "type": "mqtt in",
        "z": "c935ee3111fcba88",
        "name": "Corrente",
        "topic": "casa/corrente",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "a7603f8e8449f783",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 60,
        "y": 740,
        "wires": [
            [
                "8a95501ce3c9d21a"
            ]
        ]
    },
    {
        "id": "b50321c52f58f453",
        "type": "mqtt in",
        "z": "c935ee3111fcba88",
        "name": "Potência Activa",
        "topic": "casa/potencia",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "a7603f8e8449f783",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 80,
        "y": 800,
        "wires": [
            [
                "8a95501ce3c9d21a"
            ]
        ]
    },
    {
        "id": "63b9b1b397088179",
        "type": "mqtt in",
        "z": "c935ee3111fcba88",
        "name": "Energia Consumida",
        "topic": "casa/energia",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "a7603f8e8449f783",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 90,
        "y": 860,
        "wires": [
            [
                "8a95501ce3c9d21a"
            ]
        ]
    },
    {
        "id": "999cd3c5cefd351e",
        "type": "mqtt in",
        "z": "c935ee3111fcba88",
        "name": "Factor de Potência",
        "topic": "casa/fator_potencia",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "a7603f8e8449f783",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 90,
        "y": 920,
        "wires": [
            [
                "8a95501ce3c9d21a"
            ]
        ]
    },
    {
        "id": "12c787874e681d0c",
        "type": "mqtt in",
        "z": "c935ee3111fcba88",
        "name": "Frequência",
        "topic": "casa/frequencia",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "a7603f8e8449f783",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 60,
        "y": 980,
        "wires": [
            [
                "8a95501ce3c9d21a"
            ]
        ]
    },
    {
        "id": "b3c0a9e95b472ba8",
        "type": "inject",
        "z": "c935ee3111fcba88",
        "name": "Buscar Dados",
        "props": [
            {
                "p": "payload",
                "v": "",
                "vt": "date"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 330,
        "y": 780,
        "wires": [
            [
                "6c60a94fe7e6a713"
            ]
        ]
    },
    {
        "id": "6c60a94fe7e6a713",
        "type": "function",
        "z": "c935ee3111fcba88",
        "name": "Preparar Busca",
        "func": "var newMsg = {};\nnewMsg.method = \"GET\";\nnewMsg.url = \"https://juxgwiqblikaxgyjeqiv.supabase.co/rest/v1/dht11_data?select=*&order=timestamp.desc&limit=10\";\nnewMsg.headers = {};\nnewMsg.headers[\"apikey\"] = \"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imp1eGd3aXFibGlrYXhneWplcWl2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjA2MDQ5NDQsImV4cCI6MjA3NjE4MDk0NH0.Nw9SVhqHNwSLjNeVlC3hNZj2uULR2oq88esrGXvMQec\";\nnewMsg.headers[\"Authorization\"] = \"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imp1eGd3aXFibGlrYXhneWplcWl2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjA2MDQ5NDQsImV4cCI6MjA3NjE4MDk0NH0.Nw9SVhqHNwSLjNeVlC3hNZj2uULR2oq88esrGXvMQec\";\n\nreturn [newMsg];",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 820,
        "wires": [
            [
                "7117ce222b493ca5"
            ]
        ]
    },
    {
        "id": "7117ce222b493ca5",
        "type": "http request",
        "z": "c935ee3111fcba88",
        "name": "Buscar do Supabase",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 720,
        "y": 820,
        "wires": [
            [
                "c78a7817bcf6174f",
                "b29ad889be0e4b1d"
            ]
        ]
    },
    {
        "id": "c78a7817bcf6174f",
        "type": "debug",
        "z": "c935ee3111fcba88",
        "name": "Dados Buscados",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 970,
        "y": 860,
        "wires": []
    },
    {
        "id": "b29ad889be0e4b1d",
        "type": "function",
        "z": "c935ee3111fcba88",
        "name": "Processar para Tabela",
        "func": "// Processar dados para a UI Template\nif (msg.payload && Array.isArray(msg.payload)) {\n    // Formatar dados para a tabela\n    var tableData = msg.payload.map(row => ({\n        id: row.id,\n        temperatura: row.temperatura,\n        humidade: row.humidade,\n        timestamp: row.timestamp ? new Date(row.timestamp).toLocaleString('pt-BR') : '-'\n    }));\n    \n    msg.payload = tableData;\n    return [msg];\n} else {\n    node.warn(\"Nenhum dado retornado ou erro na query\");\n    // Retornar array vazio para a tabela\n    msg.payload = [];\n    return [msg];\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 980,
        "y": 780,
        "wires": [
            [
                "82b28ce965711eeb"
            ]
        ]
    },
    {
        "id": "82b28ce965711eeb",
        "type": "ui_template",
        "z": "c935ee3111fcba88",
        "group": "group-dashboard",
        "name": "📊 Tabela DHT11",
        "order": 5,
        "width": 12,
        "height": 8,
        "format": "<div style='padding: 15px; font-family: Arial, sans-serif;'>\n  <h3 style='color: #2c3e50; margin-bottom: 15px;'>🌡️ Dados DHT11 - Supabase</h3>\n  \n  <div style='margin-bottom: 15px; display: flex; gap: 10px; align-items: center;'>\n    <button onclick=\"sendUpdate()\" style=\"padding: 8px 15px; background: #3498db; color: white; border: none; border-radius: 4px; cursor: pointer;\">\n      🔄 Atualizar\n    </button>\n    <span style=\"font-size: 12px; color: #7f8c8d;\">\n      Última atualização: <span id=\"update-time-dht11\">-</span>\n    </span>\n  </div>\n  \n  <div style='overflow-x: auto;'>\n    <table style='width: 100%; border-collapse: collapse; border: 1px solid #ddd; font-size: 12px;'>\n      <thead>\n        <tr style='background-color: #34495e; color: white;'>\n          <th style='padding: 10px; border: 1px solid #ddd; text-align: left;'>ID</th>\n          <th style='padding: 10px; border: 1px solid #ddd; text-align: center;'>🌡️ Temperatura</th>\n          <th style='padding: 10px; border: 1px solid #ddd; text-align: center;'>💧 Humidade</th>\n          <th style='padding: 10px; border: 1px solid #ddd; text-align: center;'>⏰ Data/Hora</th>\n        </tr>\n      </thead>\n      <tbody id=\"tabela-corpo-dht11\">\n        <tr>\n          <td colspan=\"4\" style=\"padding: 20px; text-align: center; color: #7f8c8d;\">\n            📋 Clique em 'Atualizar' para carregar dados\n          </td>\n        </tr>\n      </tbody>\n    </table>\n  </div>\n  \n  <div style='margin-top: 10px; font-size: 11px; color: #95a5a6; text-align: center;'>\n    Total de registros: <span id=\"total-registros-dht11\">0</span>\n  </div>\n</div>\n\n<script>\n  // Função para enviar comando de atualização\n  function sendUpdate() {\n    node.send({payload: 'update'});\n    document.getElementById('update-time-dht11').textContent = 'Atualizando...';\n  }\n  \n  // Função para atualizar a tabela\n  function atualizarTabelaDHT11(dados) {\n    var tbody = document.getElementById('tabela-corpo-dht11');\n    var totalSpan = document.getElementById('total-registros-dht11');\n    \n    if (!dados || dados.length === 0) {\n      tbody.innerHTML = '<tr><td colspan=\"4\" style=\"padding: 20px; text-align: center; color: #7f8c8d;\">📋 Nenhum dado encontrado</td></tr>';\n      totalSpan.textContent = '0';\n      return;\n    }\n    \n    var html = '';\n    dados.forEach(function(item, index) {\n      var bgColor = index % 2 === 0 ? '#f8f9fa' : 'white';\n      \n      // Cores baseadas nos valores\n      var corTemp = item.temperatura > 30 ? '#e74c3c' : (item.temperatura < 15 ? '#3498db' : '#27ae60');\n      var corHum = item.humidade > 80 ? '#e74c3c' : (item.humidade < 30 ? '#f39c12' : '#27ae60');\n      \n      html += '<tr style=\"background-color: ' + bgColor + ';\">';\n      html += '<td style=\"padding: 8px; border: 1px solid #ddd; font-size: 11px;\">' + (item.id || '-') + '</td>';\n      html += '<td style=\"padding: 8px; border: 1px solid #ddd; text-align: center; font-weight: bold; color: ' + corTemp + ';\">' + (item.temperatura ? item.temperatura.toFixed(1) + '°C' : '-') + '</td>';\n      html += '<td style=\"padding: 8px; border: 1px solid #ddd; text-align: center; font-weight: bold; color: ' + corHum + ';\">' + (item.humidade ? item.humidade.toFixed(1) + '%' : '-') + '</td>';\n      html += '<td style=\"padding: 8px; border: 1px solid #ddd; text-align: center; font-size: 11px;\">' + (item.timestamp || '-') + '</td>';\n      html += '</tr>';\n    });\n    \n    tbody.innerHTML = html;\n    totalSpan.textContent = dados.length;\n    document.getElementById('update-time-dht11').textContent = new Date().toLocaleString('pt-BR');\n  }\n  \n  // Observar mudanças nos dados\n  this.scope.$watch('msg', function(newMsg) {\n    if (newMsg && newMsg.payload) {\n      atualizarTabelaDHT11(newMsg.payload);\n    }\n  });\n  \n  // Atualizar inicialmente se já houver dados\n  if (this.scope.msg && this.scope.msg.payload) {\n    atualizarTabelaDHT11(this.scope.msg.payload);\n  }\n  \n  // Atualizar timestamp inicial\n  document.getElementById('update-time-dht11').textContent = 'Nunca';\n</script>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 770,
        "y": 780,
        "wires": [
            [
                "b3c0a9e95b472ba8"
            ]
        ]
    },
    {
        "id": "a19e03fa9ef59d28",
        "type": "inject",
        "z": "c935ee3111fcba88",
        "name": "🔄 Auto-Atualizar",
        "props": [
            {
                "p": "payload",
                "v": "",
                "vt": "date"
            }
        ],
        "repeat": "30",
        "crontab": "",
        "once": true,
        "onceDelay": 5,
        "x": 330,
        "y": 840,
        "wires": [
            [
                "6c60a94fe7e6a713"
            ]
        ]
    },
    {
        "id": "12fb284014a7d020",
        "type": "mqtt in",
        "z": "c935ee3111fcba88",
        "name": "Potência Activa",
        "topic": "casa/potencia",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "a7603f8e8449f783",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 80,
        "y": 1140,
        "wires": [
            [
                "86ae4487fa6f227f"
            ]
        ]
    },
    {
        "id": "86ae4487fa6f227f",
        "type": "function",
        "z": "c935ee3111fcba88",
        "name": "Verificar com Anti-Spam",
        "func": "// Contexto para controlar último estado\nvar lastPowerState = context.get('lastPowerState') || 'low'; // 'low' ou 'high'\nvar power = parseFloat(msg.payload);\n\n// Validação: Verificar se payload é um número válido\nif (isNaN(power)) {\n    node.error('Payload inválido: ' + msg.payload + '. Deve ser um número (ex.: 10.5).');\n    return null; // Não processa\n}\n\nif (power >= 10.0) {\n    // Só envia alerta se a potência ACABOU de subir para alta\n    if (lastPowerState === 'low') {\n        // Criar mensagem de alerta\n        msg.topic = \"Alerta de Alta Potência\";\n        msg.payload = `⚠️ ALERTA DE ALTA POTÊNCIA ⚠️\\n\\n` +\n                      `Potência atual: ${power.toFixed(2)} W\\n` +\n                      `Limite: 10 W\\n` +\n                      `Horário: ${new Date().toLocaleString('pt-BR')}\\n\\n` +\n                      `Verifique os equipamentos conectados.`;\n        \n        msg.sendEmail = true;\n        context.set('lastPowerState', 'high'); // Atualiza estado para alto\n        \n        node.warn(`🔔 Alerta enviado: Potência subiu para ${power.toFixed(2)} W`);\n    } else {\n        msg.sendEmail = false;\n        node.log(`📊 Potência ainda alta: ${power.toFixed(2)} W. Nenhum alerta.`);\n    }\n} else {\n    // Potência baixa - reseta o estado para permitir novo alerta no futuro\n    if (lastPowerState === 'high') {\n        node.log(`📉 Potência voltou ao normal: ${power.toFixed(2)} W. Estado resetado.`);\n    }\n    context.set('lastPowerState', 'low'); // Atualiza estado para baixo\n    msg.sendEmail = false;\n    node.log(`✅ Potência normal: ${power.toFixed(2)} W`);\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 1140,
        "wires": [
            [
                "ebd781e43d95dd0e"
            ]
        ]
    },
    {
        "id": "ebd781e43d95dd0e",
        "type": "switch",
        "z": "c935ee3111fcba88",
        "name": "Filtrar Email",
        "property": "sendEmail",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 550,
        "y": 1140,
        "wires": [
            [
                "5a25c018c461c229"
            ],
            []
        ]
    },
    {
        "id": "5a25c018c461c229",
        "type": "e-mail",
        "z": "c935ee3111fcba88",
        "server": "smtp.gmail.com",
        "port": "587",
        "authtype": "BASIC",
        "saslformat": false,
        "token": "oauth2Response.access_token",
        "secure": false,
        "tls": false,
        "name": "jjuni9404@gmail.com",
        "dname": "Alerta Potência Anti-Spam",
        "x": 790,
        "y": 1140,
        "wires": []
    },
    {
        "id": "19b11667098bc102",
        "type": "mqtt in",
        "z": "c935ee3111fcba88",
        "name": "Tensão da Rede",
        "topic": "casa/voltagem",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "a7603f8e8449f783",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 900,
        "y": 400,
        "wires": [
            [
                "da77c6c05f2ddf00"
            ]
        ]
    },
    {
        "id": "555c1b8e14396a90",
        "type": "mqtt in",
        "z": "c935ee3111fcba88",
        "name": "Corrente",
        "topic": "casa/corrente",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "a7603f8e8449f783",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 880,
        "y": 440,
        "wires": [
            [
                "2bf4546674943830"
            ]
        ]
    },
    {
        "id": "c300784cc78acc3c",
        "type": "mqtt in",
        "z": "c935ee3111fcba88",
        "name": "Potência Activa",
        "topic": "casa/potencia",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "a7603f8e8449f783",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 900,
        "y": 500,
        "wires": [
            [
                "4f6992e3b9874043"
            ]
        ]
    },
    {
        "id": "d829621af0b9f93e",
        "type": "mqtt in",
        "z": "c935ee3111fcba88",
        "name": "Energia Consumida",
        "topic": "casa/energia",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "a7603f8e8449f783",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 910,
        "y": 560,
        "wires": [
            [
                "412a205958bd4038"
            ]
        ]
    },
    {
        "id": "01eaf12bca537eae",
        "type": "mqtt in",
        "z": "c935ee3111fcba88",
        "name": "Factor de Potência",
        "topic": "casa/fator_potencia",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "a7603f8e8449f783",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 910,
        "y": 620,
        "wires": [
            [
                "c1bb772d33afea25"
            ]
        ]
    },
    {
        "id": "624283b70f8993f8",
        "type": "mqtt in",
        "z": "c935ee3111fcba88",
        "name": "Frequência",
        "topic": "casa/frequencia",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "a7603f8e8449f783",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 880,
        "y": 680,
        "wires": [
            [
                "9a7c1279d1091969"
            ]
        ]
    },
    {
        "id": "da77c6c05f2ddf00",
        "type": "ui_gauge",
        "z": "c935ee3111fcba88",
        "name": "Tensão da Rede",
        "group": "c62327b96e8da467",
        "order": 7,
        "width": "2",
        "height": "2",
        "gtype": "gage",
        "title": "Tensão",
        "label": "V",
        "format": "{{value}}",
        "min": 0,
        "max": "270",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "200",
        "seg2": "240",
        "diff": false,
        "className": "",
        "x": 1140,
        "y": 400,
        "wires": []
    },
    {
        "id": "2bf4546674943830",
        "type": "ui_gauge",
        "z": "c935ee3111fcba88",
        "name": "Corrente",
        "group": "c62327b96e8da467",
        "order": 8,
        "width": "2",
        "height": "2",
        "gtype": "gage",
        "title": "Corrente",
        "label": "A",
        "format": "{{value}}",
        "min": 0,
        "max": "1",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "0.3",
        "seg2": "0.7",
        "diff": false,
        "className": "",
        "x": 1160,
        "y": 440,
        "wires": []
    },
    {
        "id": "4f6992e3b9874043",
        "type": "ui_gauge",
        "z": "c935ee3111fcba88",
        "name": "Potência Activa",
        "group": "c62327b96e8da467",
        "order": 9,
        "width": "2",
        "height": "2",
        "gtype": "gage",
        "title": "Potência Ativa",
        "label": "W",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "30",
        "seg2": "70",
        "diff": false,
        "className": "",
        "x": 1120,
        "y": 500,
        "wires": []
    },
    {
        "id": "412a205958bd4038",
        "type": "ui_gauge",
        "z": "c935ee3111fcba88",
        "name": "Energia Consumida",
        "group": "c62327b96e8da467",
        "order": 10,
        "width": "2",
        "height": "2",
        "gtype": "gage",
        "title": "Energia",
        "label": "kWh",
        "format": "{{value}}",
        "min": 0,
        "max": "0.1",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "0.03",
        "seg2": "0.07",
        "diff": false,
        "className": "",
        "x": 1120,
        "y": 560,
        "wires": []
    },
    {
        "id": "c1bb772d33afea25",
        "type": "ui_gauge",
        "z": "c935ee3111fcba88",
        "name": "Factor de Potência",
        "group": "c62327b96e8da467",
        "order": 11,
        "width": "2",
        "height": "2",
        "gtype": "gage",
        "title": "Fator de Potência",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": "1",
        "colors": [
            "#ca3838",
            "#e6e600",
            "#00b500"
        ],
        "seg1": "0.7",
        "seg2": "0.9",
        "diff": false,
        "className": "",
        "x": 1120,
        "y": 620,
        "wires": []
    },
    {
        "id": "9a7c1279d1091969",
        "type": "ui_gauge",
        "z": "c935ee3111fcba88",
        "name": "Frequência",
        "group": "c62327b96e8da467",
        "order": 12,
        "width": "2",
        "height": "2",
        "gtype": "gage",
        "title": "Frequência",
        "label": "Hz",
        "format": "{{value}}",
        "min": 0,
        "max": "70",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "55",
        "seg2": "65",
        "diff": false,
        "className": "",
        "x": 1120,
        "y": 680,
        "wires": []
    },
    {
        "id": "220134763baf27c9",
        "type": "mqtt in",
        "z": "c935ee3111fcba88",
        "name": "Tensão da Bateria",
        "topic": "casa/bateria/tensao",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "a7603f8e8449f783",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 810,
        "y": 240,
        "wires": [
            [
                "b73f3eaf82cbaca4",
                "7f1e7a75b9f53748"
            ]
        ]
    },
    {
        "id": "90bed86d478278b4",
        "type": "mqtt in",
        "z": "c935ee3111fcba88",
        "name": "Percentual da Bateria",
        "topic": "casa/bateria/percentual",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "a7603f8e8449f783",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 820,
        "y": 280,
        "wires": [
            [
                "61907ee3c01addfe",
                "bc0ed5ece8f6ad72"
            ]
        ]
    },
    {
        "id": "b73f3eaf82cbaca4",
        "type": "ui_gauge",
        "z": "c935ee3111fcba88",
        "name": "Tensão da Bateria",
        "group": "1177d0ae8856802a",
        "order": 1,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Tensão da Bateria",
        "label": "volts",
        "format": "{{value}} V",
        "min": 9,
        "max": 13,
        "colors": [
            "#ca3838",
            "#e6e600",
            "#00b500"
        ],
        "seg1": "11",
        "seg2": "12",
        "diff": false,
        "className": "",
        "x": 1140,
        "y": 200,
        "wires": []
    },
    {
        "id": "61907ee3c01addfe",
        "type": "ui_gauge",
        "z": "c935ee3111fcba88",
        "name": "Percentual da Bateria",
        "group": "1177d0ae8856802a",
        "order": 2,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Nível da Bateria",
        "label": "percentual",
        "format": "{{value}}%",
        "min": 0,
        "max": 100,
        "colors": [
            "#ca3838",
            "#e6e600",
            "#00b500"
        ],
        "seg1": "30",
        "seg2": "70",
        "diff": false,
        "className": "",
        "x": 1140,
        "y": 260,
        "wires": []
    },
    {
        "id": "7f1e7a75b9f53748",
        "type": "ui_text",
        "z": "c935ee3111fcba88",
        "group": "1177d0ae8856802a",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Tensão",
        "format": "{{msg.payload}} V",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 1330,
        "y": 200,
        "wires": []
    },
    {
        "id": "bc0ed5ece8f6ad72",
        "type": "ui_text",
        "z": "c935ee3111fcba88",
        "group": "1177d0ae8856802a",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Percentual",
        "format": "{{msg.payload}}%",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 1330,
        "y": 260,
        "wires": []
    },
    {
        "id": "e652ba1fc145fbd3",
        "type": "ui_text",
        "z": "c935ee3111fcba88",
        "group": "1177d0ae8856802a",
        "order": 5,
        "width": "6",
        "height": 0,
        "name": "Estado dos Relés",
        "label": "Estado dos Relés",
        "format": "<div style='padding: 10px; background-color: #f5f5f5; border-radius: 5px;'>  <div style='display: flex; justify-content: space-around;'>    <div style='text-align: center; padding: 10px;'>      <div style='font-size: 14px; color: #666;'>Relé 1</div>      <div style='font-size: 24px; font-weight: bold; color: {{msg.payload.rele1 === \"LIGADO\" ? \"green\" : \"red\"}};'>{{msg.payload.rele1}}</div>    </div>    <div style='text-align: center; padding: 10px;'>      <div style='font-size: 14px; color: #666;'>Relé 2</div>      <div style='font-size: 24px; font-weight: bold; color: {{msg.payload.rele2 === \"LIGADO\" ? \"green\" : \"red\"}};'>{{msg.payload.rele2}}</div>    </div>  </div>  <div style='margin-top: 5px; font-size: 12px; color: #999; text-align: center;'>Atualizado: {{msg.payload.timestamp}}</div></div>",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 1330,
        "y": 320,
        "wires": []
    },
    {
        "id": "fc3a576f5841ad8f",
        "type": "mqtt in",
        "z": "c935ee3111fcba88",
        "name": "Status Relé 1",
        "topic": "casa/rele1/status",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "a7603f8e8449f783",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 900,
        "y": 320,
        "wires": [
            [
                "4b54c662df544b75"
            ]
        ]
    },
    {
        "id": "f3e1136df00ce343",
        "type": "mqtt in",
        "z": "c935ee3111fcba88",
        "name": "Status Relé 2",
        "topic": "casa/rele2/status",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "a7603f8e8449f783",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 900,
        "y": 360,
        "wires": [
            [
                "4b54c662df544b75"
            ]
        ]
    },
    {
        "id": "4b54c662df544b75",
        "type": "function",
        "z": "c935ee3111fcba88",
        "name": "Combinar Estados",
        "func": "// Contexto para armazenar estados\nvar rele1 = context.get('rele1') || \"DESLIGADO\";\nvar rele2 = context.get('rele2') || \"DESLIGADO\";\n\n// Atualizar estado baseado no tópico\nif (msg.topic === \"casa/rele1/status\") {\n    rele1 = msg.payload;\n    context.set('rele1', rele1);\n}\nif (msg.topic === \"casa/rele2/status\") {\n    rele2 = msg.payload;\n    context.set('rele2', rele2);\n}\n\n// Criar mensagem combinada\nvar newMsg = {\n    payload: {\n        rele1: rele1,\n        rele2: rele2,\n        timestamp: new Date().toLocaleTimeString('pt-PT')\n    }\n};\n\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1140,
        "y": 340,
        "wires": [
            [
                "e652ba1fc145fbd3"
            ]
        ]
    },
    {
        "id": "68152176f36bec08",
        "type": "mqtt in",
        "z": "c935ee3111fcba88",
        "name": "Percentual da Bateria",
        "topic": "casa/bateria/percentual",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "a7603f8e8449f783",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 1080,
        "wires": [
            [
                "45edbf6d370f0add"
            ]
        ]
    },
    {
        "id": "45edbf6d370f0add",
        "type": "function",
        "z": "c935ee3111fcba88",
        "name": "Verificar Bateria Baixa",
        "func": "// Contexto para controlar último estado da bateria\nvar lastBatteryState = context.get('lastBatteryState') || 'normal'; // 'normal' ou 'low'\nvar batteryPercent = parseFloat(msg.payload);\n\n// Validação: Verificar se payload é um número válido\nif (isNaN(batteryPercent)) {\n    node.error('Payload de bateria inválido: ' + msg.payload + '. Deve ser um número (ex.: 45).');\n    return null;\n}\n\nif (batteryPercent <= 30.0) {\n    // Só envia alerta se a bateria ACABOU de atingir nível baixo\n    if (lastBatteryState === 'normal') {\n        // Criar mensagem de alerta\n        msg.topic = \"Alerta de Bateria Baixa\";\n        msg.payload = `🔋 ALERTA DE BATERIA BAIXA 🔋\\n\\n` +\n                      `Nível atual: ${batteryPercent.toFixed(1)}%\\n` +\n                      `Limite: 30%\\n` +\n                      `Horário: ${new Date().toLocaleString('pt-BR')}\\n\\n` +\n                      `Conecte à fonte de energia para recarregar.`;\n        \n        msg.sendEmailBattery = true;\n        context.set('lastBatteryState', 'low'); // Atualiza estado para baixo\n        \n        node.warn(`🔋 Alerta de bateria enviado: ${batteryPercent.toFixed(1)}%`);\n    } else {\n        msg.sendEmailBattery = false;\n        node.log(`🔋 Bateria ainda baixa: ${batteryPercent.toFixed(1)}%. Nenhum alerta.`);\n    }\n} else {\n    // Bateria normal - reseta o estado para permitir novo alerta no futuro\n    if (lastBatteryState === 'low') {\n        node.log(`🔌 Bateria recuperou: ${batteryPercent.toFixed(1)}%. Estado resetado.`);\n    }\n    context.set('lastBatteryState', 'normal'); // Atualiza estado para normal\n    msg.sendEmailBattery = false;\n    node.log(`✅ Bateria normal: ${batteryPercent.toFixed(1)}%`);\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 1080,
        "wires": [
            [
                "b221da5b308f8e9a"
            ]
        ]
    },
    {
        "id": "b221da5b308f8e9a",
        "type": "switch",
        "z": "c935ee3111fcba88",
        "name": "Filtrar Email Bateria",
        "property": "sendEmailBattery",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 510,
        "y": 1080,
        "wires": [
            [
                "9664c2216adb96a7"
            ],
            []
        ]
    },
    {
        "id": "9664c2216adb96a7",
        "type": "e-mail",
        "z": "c935ee3111fcba88",
        "server": "smtp.gmail.com",
        "port": "587",
        "authtype": "BASIC",
        "saslformat": false,
        "token": "oauth2Response.access_token",
        "secure": false,
        "tls": false,
        "name": "jjuni9404@gmail.com",
        "dname": "Alerta Bateria Baixa",
        "x": 750,
        "y": 1080,
        "wires": []
    },
    {
        "id": "a7603f8e8449f783",
        "type": "mqtt-broker",
        "name": "TH",
        "broker": "broker.emqx.io",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "3f09d5abb3673bfb",
        "type": "ui_group",
        "name": "Temperatura e Humidade",
        "tab": "d8fef3a0d83053ee",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "grupo-clima-externo",
        "type": "ui_group",
        "name": "Dados Meteorológicos Externos",
        "tab": "d8fef3a0d83053ee",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "group-dashboard",
        "type": "ui_group",
        "name": "Monitor Solar",
        "tab": "d8fef3a0d83053ee",
        "order": 1,
        "disp": true,
        "width": 12,
        "collapse": false,
        "className": ""
    },
    {
        "id": "c62327b96e8da467",
        "type": "ui_group",
        "name": "Monitor Energia",
        "tab": "d8fef3a0d83053ee",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "1177d0ae8856802a",
        "type": "ui_group",
        "name": "Monitor Bateria e Reles",
        "tab": "d8fef3a0d83053ee",
        "order": 1,
        "disp": true,
        "width": 12,
        "collapse": false,
        "className": ""
    },
    {
        "id": "d8fef3a0d83053ee",
        "type": "ui_tab",
        "name": "DHT11",
        "icon": "fa-sun",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "e5abc9f6391bc9f1",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-dashboard": "3.6.6",
            "node-red-node-email": "3.1.0"
        }
    }
]
